{
    "extends": "airbnb-base",
    "plugins": [
        "import",
        "prettier"
    ],
    "rules": {
        "arrow-parens": [
            "error",
            "always"
        ]
    },
    "env": {
        "jest": true
    }
}
